@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
    font-family: 'Nunito Sans', sans-serif;
   
}
.bg-color{
    background: #009b3a;

}
.btn-success{
    background: #009b3a;


}


a{
    text-decoration: none;
    color: black;
}
.color{
    color: green;
}
.carousel-inner{
    height: 280px;
}
.carousel-inner img{
    height: 280px;
}
.tagline{
    background-color:#fcecd3
}
.border_color{
    color: green;
    border:2px solid
}
.list-items{
    display:flex;border-radius:13px;
}

.bottom-margin{
    margin-bottom: 20px;
}

.navbar{
    
    position:fixed;
    bottom:0;
    background:white;
    border-top:2px solid green;
    height:60px;
    width: 100%;
}

/* -------------------my------------------------------------ */


.text-size{
    font-size: 12px !important;
}

/* section2 */

.border4s2{
    border-radius:5px;
     border:2px solid #009b3a;
}

.white-line{
    height: 1px;
    background: white;
}


/* section-4  menus*/
.mb-5 {
    margin-bottom: 4rem!important;
}
.green-line{
    height: 1px;
    background: green;
}
.record-font{
    font-size: small;
}



/* ---------------product------
 */

 .modal-font{
    font-size:small;
 }

 /* ------------team-------------- */
 .row-font{
    font-size: small;
 }



